body{
  display: flex;
  justify-content: center;
}

#card{
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .5s;
}

.face{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  position: absolute;
  border-radius: 15px;
}

#front{
  background-color: rgb(14, 81, 204);
  transform: rotateY(180deg);
}

#back{
  background-color: rgb(4, 35, 94);
  backface-visibility: hidden;
}

.flip{
  transform: rotateY(180deg);
}