*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  background: #e4c515;
  flex-direction: column;
}

#cardboard{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card{
  width: calc(25% - 10px);
  height: 33%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  margin: 5px;
}

.memory-card:active{
  transform: scale(0.97);
}

.memory-card.flip{
  transform: rotateY(180deg);
  transition: 0.3s;
}

.front-face, .back-face{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #675a10;
  padding: 20px;
}

.front-face{
  transform: rotateY(180deg);
}

#tryAgain{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  width: 630px;
  background-color: #675a10;
  color: white;
}